
    

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

    
  
body{font-family: 'Inter', sans-serif;
    background-color: rgb(248, 243, 239);}
  .left{font-size: 30px;
    font-family: 'Inter', sans-serif;
    display: flex;}
    .logo{
margin-top: 32px;
width: 48px;
height: 56.008px;
    }
.right a{padding: 15px;
    color:#1b130e ;
    font-family: 'Inter', sans-serif;
font-size: 40px;
font-weight: 800;}
nav{padding: 20px;
    display: flex;
    gap:50px;
    justify-content: space-between;
}

.title{
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: white;
    width: 1170px;
    height: 500px;
    background: fixed;
    background-repeat: no-repeat;
   background-attachment: fixed;
    border-radius: 16px;
background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%)
    ,url(Images/Group\ 13\ \(1\)\ \(1\).png);
}
.title-des{
  padding: 50px;
}
.search-bar{
    color: grey;
    font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
padding: 15px;
border-radius: 8px;
border-color:transparent;
}
.search{border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 20px;
    align-items: flex-start;
    gap: 24px;
    margin-top:50px ;
}
.find{width: 174px;
    height: 52px;
   color: #FFF;
   font-size: 16px;
   font-family: 'Inter', sans-serif;
    border-radius: 8px;
    background: #FF5400;
    border-color: transparent;
}
.review{color: rgba(19, 19, 24, 0.70);
    width:400px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
 
 padding: 5%;
}
.mountain{margin-top: 20px;
    position: absolute;
}
.container{
    display: flex;
    flex-direction: row;
}
.box-title{
    color: #121213;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 35px;}
.maldives{width: 573px;
    height: 300px;
    border-radius: 16px;
     background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%)
    ,url(Images/Rectangle\ 5.png);
}
.indo{width: 573px;
    height: 300px;
    border-radius: 16px;
     background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%)
    ,url(Images/Rectangle\ 8.png);
}
.sri{
    width: 374px;
    height: 286px;

    border-radius: 16px;
     background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%)
    ,url(Images/Rectangle\ 6.png);
}
.north{width: 474px;
    height: 286px;
    border-radius:16px;
    background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%)
    ,url(Images/Rectangle\ 7.png);
}
.kashmir{width: 274px;
    height: 286px;
    background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%)
    ,url(Images/Rectangle\ 9.png);
    border-radius:16px;
}
.bangladesh{ background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%)
    ,url(Images/Rectangle\ 11.png);
    border-radius:16px;
    width: 473px;
    height: 300px;
    flex-shrink: 0;
}
.bandarban{ background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%)
    ,url(Images/Rectangle\ 10.png);
    width: 673px;
    height: 300px;
    border-radius: 16px;
}

.grid{
    display: flex;
    flex-direction:row;
    gap: 10px;
    margin-top: 10px;
}

.name{text-align: center;
    color: #FFF;
    padding:130px;
}
.tag-one{padding: 30px;
    width: 573px;
    height: 284px;
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.tag-two{width: 573px;
    height: 284px;
   padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.two-container{
    display: flex;
    flex-direction:row;
    gap: 20px;
}
.tag-three{width: 573px;
    height: 284px;
   padding: 30px;
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
margin-left: 400px;
margin-top: 20px;
}


.view{background-color: #070c23;
    color: antiquewhite;
border-color: transparent;
padding: 30px;
font-size: larger;
text-align: center;
border-radius: 10px;
cursor: pointer;
}
.view-button{margin-top: 50px;
    text-align: center;
}
.hajj{color: antiquewhite;
border-radius: 10px;
width: 1170px;
height: 500px;
    background-image: url(Images/hajj.jpg);
 border-radius: 10px;
}
.hajj-title{padding: 50px;
    text-align: center;
  
    font-size: x-large;
}
.table{
    color: #ffffff;
    text-align: center;
}
.hajj-btn{background-color:transparent;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 50px;
    color: antiquewhite;
    width: 120px;
    height: 80px;
    float:lef;
}
.book{background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%)
    ,url(Images/book.jpg);
    width: 374px;
    height: 286px;
    border-radius: 10px;
}
.kaba{width: 374px;
    height: 286px;
    border-radius: 10px;
    background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%)
    ,url(Images/kaba.jpg);
}
.prayer{width: 374px;
    height: 286px;
    border-radius: 10px;
      background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%)
    ,url(Images/prayer.jpg);

}
.table{gap: 20px;
    padding: 20px;
}
.pursue{margin-top: 20px;
        display: flex;
    flex-direction: row;
    gap: 30px;
}
.info{width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
 
}
.info-btn{width: 393px;
    height: 52px;
    flex-shrink: 0;
    font-size:16px;
    margin-top: 10px;
    border-color: transparent;
    margin-bottom: 15px;
    cursor: pointer;
    color: darkgrey;
    text-align: center;
  
    
}
.sticker{color: #FFF;
    font-size: 15px;
   border-radius: 13px;
   background: #FF5400;
   width: 324px;
height: 120px;
transform: rotate(-19.628deg);
  padding: 20px;
position:absolute;                                                                                                                                                                        
}


.last{position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.end{padding: 100px;
    text-align: center;
}
.logo-end{width: 40px;
    height: 46.673px;
   
}
.footer{width: 1440px;
    height:600px;
    flex-shrink: 0;
    text-align: center;
    background: rgba(19, 19, 24, 0.10);
}

@media screen and (max-width: 600px){
    .right{
        display: none;}
        
    
    .title{width:335px;
        height: 483px;
       text-align: top;
       font-size :12px;
       padding: 2%;
    }
    .title-des{padding: 2%;
        font-size: 16px;
    }
    .title-container{font-size: 14px;
        margin-top: 0%;
    }
    .search{text-align: center;
        font-size: 16px;
        display: flex;
        flex-direction: column; 
       
        }
        .search-bar{font-size: 16px;
            font-style: normal;
          padding: 2px;
            width: 300px;
            height: 52px;
            text-align: center;
            }
        .find{width: 300px;
            height: 52px;
        cursor: pointer;}
        .review{margin-top:  10px;
        
        }
        .box-title{
           margin-top: 600px; 
           text-align: center;
        }
      .mountain{
        width:335px;
        height: 483px;}
.container{
    display: flex;
    flex-direction:column;}
.name{
    text-align: center;
 padding:70px;
}
.grid{
    display: flex;
    flex-direction: column;
}
.maldives{
    width: 335px;
height: 175.393px;
}
.indo{
    width: 335px;
height: 175.393px;

}
.sri{
    width: 335px;
height: 175.393px;
}
.north{
    width: 335px;
height: 175.393px;
}
.kashmir{
    width: 335px;
height: 175.393px;
}
.bangladesh{
    width: 335px;
height: 175.393px;
}
.bandarban{
    width: 335px;
height: 175.393px;
}
.tag-one{width: 335px;
    height: 289px;
    border-radius: 16px;
}
.tag-two{width: 335px;
    height: 289px;
    border-radius: 16px;
}
.tag-three{width: 335px;
    height: 289px;
    flex-shrink: 0;
    border-radius: 16px;
margin:0px;
}
.two-container{
    display:flex;
    flex-direction:column;
}
.book{width: 335px;
    height: 500px;
    flex-shrink: 0;
}
.kaba{width: 335px;
    height: 500px;
    flex-shrink: 0;
}
.prayer{
    width: 335px;
height: 500px;
flex-shrink: 0;
   }
   .pursue{margin-top: 20px;
    display: flex;
flex-direction: column;
gap: 30px;
}
.hajj{   width: 335px;
    height: 500px;
font-size: 5px;}
.hajj-title{font-size: 12px;
    padding: 30px;
    

}
.mount{margin-top: 50px;
    width: 335px;
height: 300px;
flex-shrink: 0;
}

.last{position: relative;
    display: flex;
    flex-direction:column;
    gap: 20px;

}
.info{width: 335px;
    height: 353px;
}
.info-btn{width: 288px;
    height: 52px;
    flex-shrink: 0;

}

.footer{width: 375px;
    height: 500px;
    text-align: center;
    background: rgba(19, 19, 24, 0.10);
    margin-top: 100px;

}
.icon{padding:2%;
    width: 15px;
height: 15px;
flex-shrink: 0;
display: flex;
flex-direction: row;
}

.last{position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.end{padding:5px;
    text-align: center;
    gap: 0px;
}
.logo-end{
    width: 28.724px;
    height: 33.516px;
    flex-shrink: 0;
   }
   .box-title{padding: opx;
    color: #5A5A5D;
text-align: center;
font-size: 14px;
   }
   .line{width: 335px;
    height: 1px;

   }
   }





